@use "../../assets/styles/variables.scss" as vars;
@use "../../assets/styles/mixins.scss" as minins;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  @include minins.truncate-multiline(1);
  padding-right: 24px;
  margin-bottom: 8px;
}

.description {
  @include minins.truncate-multiline();
  font-size: 14px;
  line-height: 18px;
  color: vars.$silver-dark;
  margin-bottom: 16px;

}

.showDetails {
  position: absolute;
  top: 30px;
  right: 24px;
}

.tags {
  display: flex;           /* Размещение тегов в строку */
  flex-wrap: wrap;         /* Теги будут переноситься на новую строку, если не хватает места */
  gap: 10px;               /* Отступы между тегами */
}

.tag {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;         /* Размер шрифта для тегов */
}
