@use "variables.scss" as vars;

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
}

.status {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 11px;
  border: 1px solid transparent;

  &.in_progress {
    color: vars.$blue;
    background-color: vars.$lightBlue;
    border-color: vars.$blue;
  }

  &.completed {
    color: vars.$green;
    background-color: vars.$lightGreen;
    border-color: vars.$green;
  }

  &.deleted {
    color: vars.$red;
    background-color: vars.$peach;
    border-color: vars.$red;
  }
}
