$light: #fff;
$silver: #eeeeee;
$silver-dark: #929292;
$pink: #eb2f96;;
$pink-light: #fff0f6;
$blue: #007bff;
$lightBlue: #cce4ff;
$green: #28a745;
$lightGreen: #d4edda;
$red: #dc3545;
$peach: #f8d7da;
