@use "../../../shared/assets/styles/variables" as vars;
@use "../../../shared/assets/styles/mixins" as minins;

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 290px;
}

.title {
  @include minins.truncate-multiline(1);
  padding-right: 24px;
  margin-bottom: 8px;
}

.description {
  @include minins.truncate-multiline();
  font-size: 14px;
  line-height: 18px;
  color: vars.$silver-dark;
  margin-bottom: 16px;
}

.dateLine {
  width: fit-content;
  font-size: 12px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.tags {
  overflow-x: scroll;
  margin-top: 16px;
}

.tag {
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 11px;
  color: vars.$silver-dark;
  background-color: vars.$light;
  border: 1px solid vars.$silver-dark;
}

.status {
  margin-top: 10px;
}
